<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-12 p-0">
      <section class="banner-slider">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for block in section.blocks %}
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="{{ forloop.index0 }}"
                {% if forloop.first %}
                class="active"
                {% endif %}
                aria-label="Slide {{ forloop.index1 }}"></button>
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for block in section.blocks %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img
                  src="{{ block.settings.slide_image | img_url: 'master' }}"
                  class="d-block w-100"
                  width="100%"
                  height="auto"
                  alt="...">
                  {% if block.settings.slide_title %}
                <div class="carousel-caption">
                  <div class="has-banner-content">
                    <div class="heading-wt-content">
                      <h5 class="banner-title">{{ block.settings.slide_title }}</h5>
                      <p class="banner-desc">{{ block.settings.slide_subtext }}</p>
                    </div>
                     <a href="" class="banner-button">
                      <button class="btn btn-primary">Shop Now</button>
                    </a> 
                  </div>
                </div>
              {% endif %}
              </div>
            {% endfor %}

          </div>


          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </section>
    </div>
  </div>
</div>

{% style %}
  .banner-slider .carousel-caption {
    display: flex;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    justify-content: center;
    align-items: end;
  }

  .banner-slider .has-banner-content {
    background: #ffffff8c;
    padding: 5rem;
    width: 30%;
  }

  .banner-slider .banner-title {
    font-size: 3rem !important;
    color: #000;
  }
  .banner-slider .banner-desc {
    color: #000;
  }
{% endstyle %}


{% schema %}
  {
    "name": "Slider Banner",
    "settings": [],
    "blocks": [
      {
        "type": "column",
        "name": "slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide_image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "slide_title",
            "label": "Title"
          }, {
            "type": "text",
            "id": "slide_subtext",
            "label": "Sub Title"
          }, {
            "type": "url",
            "id": "slide_link",
            "label": "Link",
            "info": "Enter the URL for the link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Banner"
      }
    ]
  }
{% endschema %}